.btn {
  padding: 18px 38px;
  font-size: 20px;
  border-radius: 0;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  backface-visibility: hidden;
  &.btn__sm {
    padding: 14px 36px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 0;
    border-width: 2px;
  } 
  &.btn__primary {
    color: #fff;
    background-color: $nav-color;
    border-color: $nav-color;
  }
}