{{ define "header" }}
<header>
  <div class="nav__brand">
    <div class="nav__logo">
      <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
      <div class="nav__brand__title">
        <p class="title">Dịch vụ Bảo hành</p>
        <p class="sub__title">Tin cậy</p>
      </div>
    </div>
    <ul class="nav__contact">
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i> baohanh@dichvu.com</li>
      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 7:00-19:00 Thứ 2-Thứ 7 </li>
      <li><i class="fa fa-phone" aria-hidden="true"></i> 0383-848-353</li>
    </ul>
  </div>
  <div class="nav__main">
    <ul class="nav__menu">
      <li class="nav__menu__item"><a href="/">Trang Chủ</a></li>
      <li class="nav__menu__item"><a href="/">Dịch Vụ</a></li>
      <li class="nav__menu__item"><a href="/">Liên Hệ</a></li>
    </ul>
  </div>

  </div>
</header>
{{ end }}